body {
    background-color: darkgray;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 42px;
}

.description {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

img {
    background-color: transparent;
    cursor: pointer;
    height: 300px;
    width: 300px;
    padding: 16px;
}

button {
    background-color: transparent;
    border: 5px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: lightgray;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 120px;
}